---
import { Image } from "astro:assets";
import PotetoImage from "../images/GbDQHySXwAAf6K_.jpg";
import RockerReplicantImage from "../images/20200424_2121472.jpg";
import HomeTitle from "../components/HomeTitle.astro";
import Html from "../components/Html.astro";
---

<Html>
  <HomeTitle />
  <div class="card">
    <div id="notice">
      <h3 class="font-2xl"><em>AL_WG2024</em></h3><br />
      <h2 class="font-3xl">This branch has been TERMINATED.</h2>

      <div id="message" class="font-m">
        Dearest Recorders and Observers of Accord's Library.<br /><br />

        These past few years have been a pleasure, but we regret to inform you
        all that we've been contacted by the Square Enix's Legal Team. And after
        some private communications, based on the outlined requirements we have
        come to the conclusion that Accord's Library must close its doors. While
        we are sad to have to go, we also must respect the wishes of the Legal
        Team.<br /><br />

        We hope to continue spending time with you all, and other fans in the
        future through our <a href="/discord">Discord server</a>, which we are
        keeping opened.<br /><br />

        On behalf of the entire Council for Accord's Library, we sincerely thank
        you for your support and friendship over the years. We hope that you
        will continue to use the Discord, though we understand if this is where
        we part ways.<br /><br />

        From the very bottom of our hearts, we will be forever grateful to
        everyone who's volunteered their time to help build Accord's Library
        into what it was. Thank you to all of our Transcribers, Translators, and
        most of all, all of you for sticking with us. Take care of yourselves
        out there. <br /><br />

        Glory to Mankind.<br /><br />

        — The Accord's Library Council
      </div>
    </div>
  </div>

  <hr />

  <div id="full">
    <h2 class="font-3xl">Memorial</h2>
    <div id="message" class="font-m">
      We still own the domain name until July 2025 so we were thinking about
      hosting this memorial page until then.
      <br /><br />

      If there is any message, tweet, or artworks you would like to share here
      you can submit it on our Discord server on the <code>#memorial</code> channel.
      <br /><br />

      Artworks can be anything DrakeNieR / Yoko Taro related (although we think
      would be quite fitting to give Accord some love). If you submit a message
      or an artwork, please indicate what name you want to be credited under and
      optionally a link to your social page or blog.
    </div>

    <div class="grid">
      <div>
        <Image src={PotetoImage} alt="Submission by potato" width={512} />
        <p>Goodbye Accord's Library</p>
        <p>
          Thank you to those who worked hard to organize the website. I was able
          to learn so much about the world that I love! I'm still a new artist,
          so this piece is quite rough, but I put a lot of love into drawing it.
          In the future when I'm a much better artist, I'd love to redraw it
        </p>
        <p class="cite">
          —<a
            href="https://twitter.com/potetotometoes/status/1851208670748582108"
            >@potetotometoes</a
          >
        </p>
      </div>
      <div>
        <p>
          The series of NieR and Drag-On Dragoon (Drakengard) was a niche, but
          thanks to all the fans who supported us, we were able to make it this
          far. Once again, please convey my thanks to all of you. Thank you very
          much.
        </p>
        <p class="cite">—YOKO TARO</p>
      </div>
      <div>
        <p>
          merci pour votre travail acharné de préservation, merci d'avoir pu
          rendre accessible l'univers de Yoko Taro. merci pour tout. ❤️
        </p>
        <p>
          Thank you for your relentless archiving efforts. Thank you for making
          Yoko Taro's world more accessible. Thank you for everything ❤️
        </p>
        <p class="cite">—faon</p>
      </div>
      <div>
        <p>
          I started playing because of 2B. I kept on going because of the
          amazing characters, story, and music. Now I love this world even more
          because of this awesome community. Thank you 🙏
        </p>
        <p class="cite">—potato</p>
      </div>
      <div>
        <p>
          Eu comecei com os jogos graças a SINoALICE, se não tivesse sido por
          ele e por um amigo, que me recomendou Automata por ser do mesmo
          diretor, eu nunca teria conhecido o que hoje em dia é a minha franquia
          favorita. Muito Obrigado por terem me ajudado a encontrar tantas
          coisas que eu nunca saberia que existiam
        </p>
        <p>
          I started playing Yoko Taro's games through SINoALICE, if not for it
          and a friend, recommending Automata bcs both were from the same
          director, I'd have never discovered what today is my favorite
          franchise. Thank you for helping me find things I'd have never found
          on my own
        </p>
        <p class="cite">—maru</p>
      </div>
      <div>
        <p>
          As an angsty teen I picked up a game called Drakengard on a whim
          because oooh dragon and fire on the cover, not knowing just how hooked
          I would be. Now an angsty 30-something year old I'm still following
          the series with Nier, praying for any connection to the edgy dragon.
          Accord's Library was the closest to it all coming full circle and this
          community kept the fire in my heart alive making me feel like that
          teenager again. Thank you 🫶🏼
        </p>
        <p class="cite">—groof</p>
      </div>
      <div>
        <p>
          The NieR series is incredibly important to me, ever since Automata
          changed my life years ago. Accord's Library let me appreciate the
          series on a new level. You guys accomplished something wonderful, and
          your contribution to this community is cherished. Thank you.
        </p>
        <p class="cite">—nelunel</p>
      </div>
      <div>
        <p>
          Thank you for making it easier for me to share something I care deeply
          about, with those I care for deeply.
        </p>
        <p class="cite">—spyderwolff</p>
      </div>
      <div>
        <p>
          Although Accord's Library was very short lived for myself having
          discovered it a tad too late, I think the dedication put into it
          speaks for itself. It served as an expansive database similar to
          something you'd expect to find within the games and with that being
          said, it definitely lived up to its name.
        </p>
        <p class="cite">—Hell-E-Copter</p>
      </div>
      <div>
        <p>
          Although I only joined the community recently, I played Automata back
          when it came out and became absolutely obsessed. Years later, a few
          months ago I was watching a video essay and they kept talking about so
          much lore that wasn’t explained in the game. Then I searched up Nier
          lore, and was brought to Accords Library. This website let me fall in
          love with the Nier games all over again, the concert scripts and
          novellas for Automata, along with Replicants extra content just made
          me obsess over the world (ESPECIALLY THE LOVE STORY BETWEEN 2B AND
          9S). I decided to replay the Automata and finished all three routes in
          about a weekend. I played almost non-stop, and with the complete
          context of the story, I was able to adore and notice so many more
          intricacies and hidden details inside Yoko Taro’s wonderful little
          world. All of the lore I thought was never explained, was just not
          directly. As indirectly as you can get I swear-. But I digress,
          Accords library completely changed my view of the story, and I can’t
          thank you all enough for making such an incredible resource for fans
          of the series. You introduced me to Drakengard, finally got me to play
          replicant and about 2 weeks ago I finished drag on dragoon. So in the
          end, all I can say is thank you so very much! This project was
          absolutely wonderful.
        </p>
        <p class="cite">—trickypat</p>
      </div>
      <div>
        <p>
          I started playing the NieR and Drakengard games around the time SE
          announced Automata's release. I have been listening to the games
          soundtrack since about 5 years even prior to that. The work Accord's
          Library has put into compiling lore and records of this series is
          absolutely incredible. It is truly a tragedy that we must see it go.
          Perhaps, one day, many years from now Accord's Library may be
          restored. Thank you for all your efforts.<br />-may we meet in the
          next timeline-
        </p>
        <p class="cite">—[HHG] LimeRi</p>
      </div>
      <div>
        <p>
          NieR entered my life after I decided to give this silly android game a
          shot one day, and ever since then it has been a major part of my daily
          thoughts. Almost everyday I spend a good amount of time watching NieR
          communities to discuss this beautiful franchise, and somehow after
          half a decade I have yet to lose a single bit of interest or love I
          held for the series when it first stole my heart. Accord's Library was
          nothing short of a fantastic project with clearly immense amounts of
          love and effort poured into it. I thank the administrators for their
          hard work, and pray that the Library may one day have a chance to be
          rebuilt.
        </p>
        <p class="cite">—Fauvias</p>
      </div>
      <div>
        <p>
          here's my story. its crazy but i didnt get into drakenier until 2021.
          i played all of drakengard but then didnt play nier until 1.22 came
          out. I dont think most people remember how this all came to be so ill
          just talk about it. around july 2021 after I played all of drakengard,
          I was really interested in the artworks but I was frusterated
          basically nothing was online, any scans online were low quality and
          just not up to my standards. thats when I began to do something, I
          wanted to scan and archive the drakengard books, basically just for
          myself but share them to others in the process, so I bought a scanner
          and started doing all that. While posting them on twitter, Mint
          noticed my tweets and replied to me, asking me if I would be
          interested in joining an archival project. I thought it was so much
          better than posting everything on twitter so I was immediately on
          board. That's basically when everything became a reality. To me, I
          didn't really think we would get THIS huge. I underestimated
          everything even up until now, I just thought this was a silly project
          to do on my free time, but yea, we made it. With our impact we were
          able to accomplish things I never even thought was possible, such as
          getting people to translate the drakengard novels. It was a dream of
          mine to be able to read dod1.3 back then. <br /><br />

          Aside from the AL origin story. This community was kinda the best
          thing to ever happen to me. i've met so many great friends and people,
          some of who are now some of my best friends beyond drakenier.
          Drakengard has just had such a unique impact on my life as well.
          Drakengard was my first tattoo, and now with my scanning skills I'm
          able to do other franchises I love as well. Being said, between the 3
          years this project started I've also been starting my career so I got
          pretty busy this last year and haven't done much work but, I'm still
          glad to be here in the community. Earlier this year I went out for
          dinner with some other AL members and it was a blast to talk about
          Weird Drakengard Merch, and I'm excited to go to the next one in
          November<br /><br />

          Being said, due to the shut down, I'm gonna be disconnecting from the
          series and community. But I'm glad that what happened the last 3
          years, happened. Life moves on. There's some other franchises I want
          to scan so I'll probably be doing that instead. <br /><br />

          So thank you everybody for everything the last 3 years, it was really
          cool.
        </p>
        <p class="cite">—solo</p>
      </div>
      <div>
        <p>
          I played the Automata demo and something about the blend of hack n
          slash, fat android ass and that S tier soundtrack enraptured me, left
          me thinking about it for a week straight until I saved up enough of my
          lunch money to buy the full game. Three whole weeks of Easter Break
          2017 were spent glued to my ps4, I easily dumped 200 straight hours
          into the game getting all the endings, reading through all the weapon
          stories and completing every last side quest. After finishing ending
          E, I was left empty and yearning for more, so I searched for more lore
          and fell down a rabbit hole where I learned that it was a sequel to
          another game series, Drakengard, and that there was tons of extra lore
          left to keep me sated for a long while. And all of it was archived in
          a single handy website, with translations of every last obscure story
          in Yoko Taro’s bizarre but intriguing verse. It’s heart breaking to
          see it all go but there is always hope of it being copied and rebuilt
          later - like the DrakeNieR games have taught us, no matter how
          fortuitous and heart wrenching life can be, there will always be a ray
          of hope, shining through the darkness
        </p>
        <p class="cite">—ashitaka</p>
      </div>
      <div>
        <p>
          I only really found out about Accord's Library a month or so before
          the announcement was made that it would be shut down. It is sad to see
          this extremely valuable resource go, as I have yet to read up on
          everything Yoko Taro has to offer. I hope Square Enix will, someday,
          rethink their decision and make Yoko's work available in Western
          territories, considering how the DrakeNier series is split across
          multiple mediums, many of which are inaccessible outside Japan.
        </p>
        <p class="cite">—Astral-P</p>
      </div>
      <div>
        <p dir="rtl">
          شكرأ على كل جهودكم الهائلة التي لن تنسى أبداً. و ستبقى ذكراها حية عبر
          المجتمع الجميل. <br /><br />

          المجد للبشرية.. و لمكتبة أكورد.
        </p>
        <p>
          Thank you for all your tremendous efforts which will never be
          forgotten and will continue to live on through the beautiful
          community. <br /><br />

          Glory to Mankind.. and to Accord’s Library.
        </p>
        <p class="cite">—٠</p>
      </div>
      <div>
        <p>
          I was happy to see an archive full of others who loved the franchise
          just as much as I did,it made me happy to see that others have taken
          the time to translate all the scripts and connect every single little
          details as well,im glad I wasnt the only one. It was amazing to see
          all the artwork and content,especially ones that were really hard to
          get. Sad to see it go,thank you for making something that even the
          artists themselves appreciated.
        </p>
        <Image src={RockerReplicantImage} alt="Submission by RockerReplicant" />
        <p>
          this was a drawing I did as a tribute for the 10th/20th
          Anniversary,that I never got to submit to the website. hope its clear
          enough but I thought it would be a nice gift for the collection we
          made
        </p>
        <p class="cite">—RockerReplicant</p>
      </div>
      <div>
        <p>
          this series has genuinely changed the trajectory of my life, lmao. I
          found Automata at like, one of the worst times in my life. i was
          deeply lonely and incredibly misguided. people generally refer to
          automata and the drakenier series in general as "depressing" but, i
          think its far from it.<br /><br />

          The core messaging of this series, to me, is that no matter how
          disgusting, and bleak, and evil the people of this world can be. no
          matter how pointless existence may seem. no matter what others may
          decide what is human and what isnt. no matter how unfair, and cruel
          this world is. life is a gift. and even if others have tried to ruin
          that gift, its still yours. no one can take it from you no matter how
          hard they try.<br /><br />

          Im grateful for the incredible efforts, made by the wonderful people
          behind AL. for being a resource for me to so deeply explore this
          series that i feel has given me a new lease on life. i hope you know
          that despite how things turned out. no one can take away what this
          project meant to us
        </p>
        <p class="cite">—nick</p>
      </div>
      <div>
        <p>
          As a company, we cannot overlook copyright infringement, but it is not
          our intention to suppress healthy fan activities. We hope you will
          continue to patronize our works.
        </p>
        <p class="cite">—SQUARE ENIX CO., LTD.</p>
      </div>
      <div>
        <p>
          I have to thank a lot those who have been behind this project. I found
          out about it more or less last year, one of those times when I decide
          to enter the "rabbit holes" that exist on the Internet, and I came
          across the site.<br /><br />

          Thanks to that, I discovered the Drakengard/Nier saga, and I was
          amazed by it, and although I haven't had the opportunity to have any
          official product in my hands, it became one of my favorite franchises
          and one of the ones I value the most. Despite the great content that
          we miss due to market borders.<br /><br />

          It saddens me greatly that the project that allowed me to get to know
          one of the works of fiction that I love the most ceased to exist so
          soon and that I really didn't have time to get to know them before
          that news happened. I hope that projects like these expand the borders
          that limit us from getting to know the works that we are missing. You
          don't know how grateful I am to the team behind the Accord Library. I
          wish them luck in the future and I hope that everything goes well for
          them in their lives. Thank you for this opportunity that you gave me.
        </p>
        <p class="cite">—HalfTitanium</p>
      </div>
      <div>
        <p>
          The Nier franchise has held significant meaning to me for many years.
          My heart aches for Accord's Library but I want to give my thanks to
          everyone who helped make the site an enormous and enjoyable experience
          of information. I'll miss you dearly.
        </p>
        <p class="cite">—Adolphin👑</p>
      </div>
      <div>
        <p>
          In a world where cultural products are being aggressively monetized by
          greedy corporations, who don't care about the deeper and intangible
          aspects of their intellectual properties, initiatives like Accord's
          Library are worth their weight in gold. You are the beating heart of
          the DrakeNier fandom, and your site was a reflection of that. It was
          thanks to your hard work collecting and archiving the works of Yoko
          Taro (and Koda Kazuma, Keiichi Okabe, and others) that people from all
          over the world (especially outside of Japan) were able to get a
          detailed look at this vast and beautiful world. Which is especially
          important considering how fragmented the lore can be and the fact that
          not all of the material is available to fans who don't know Japanese.
          Over the past few years, you have painstakingly and dedicatedly
          collected and translated a ton of material, giving fans a unique
          opportunity to get a detailed look at this beautiful mosaic.<br /><br
          />

          Not many people put so much heart into their hobby, so it's hard not
          to appreciate something like this. Especially for me, because I'm a
          huge fan of the creations of Yoko Taro's mind (with my favorite and
          most beloved Nier: Automata at the forefront). These works are not
          only a great source of entertainment, but also touch the most
          sensitive chords of the soul, making us reflect on many important
          topics, such as the meaning of our existence, our place on Earth and
          relationships with loved ones. Using places like your website, I was
          able to comprehensively familiarize myself with the nuances of my
          beloved universe.<br /><br />

          And for all this, I thank you very much. Team Accord's Library, you
          are wonderful! ❤️
        </p>
        <p class="cite">—2B or not 2B</p>
      </div>
      <div>
        <p>
          this series has been so important to me during my formative years. my
          introduction to it was with DOD2 (not during release but somewhere in
          between, i mustve been about 11yo) and then DOD3 i played on release
          in 2013 (17yo now). it took a couple of years for me to learn about
          Nier and how it is connected to Drakengard. then i played both Niers
          kinda recently, those 3 games are my proudest platinum trophies! never
          once a dull moment with them. even though DOD3 is kinda considered a
          "bad" game, it probably is my favourite with replicant right behind<br
          /><br />

          yet i still didnt know just how BIG the universe really is until i
          found accord's library, i believe it was last year as i was playing
          both Niers and boy, something that used to be just a little kids
          obsession (DOD2 and 3) became so much more. it makes me really happy
          to see how dedicated this community is and has always been, i learn
          about the universe a bit more each day! i only wish i found out more
          about it on the internet sooner, so i'm still in my journey of
          consuming everything i can and the library def has made it more
          possible and accessible<br /><br />

          thank you everyone for all the hard work, the library may not be up
          anymore but the experience, and all the things learned wont be
          forgotten
        </p>
        <p class="cite">—Scar</p>
      </div>
      <div>
        <p>
          during this summer, i was forced to quit a toxic workplace. while
          figuring out what to do in my free time, i finally dusted
          (metaphorically) the copy of automata that i had bought years ago. of
          course this naturally led to me playing replicant and watching a
          playthrough of reincarnation.<br /><br />

          nier has quickly become a series near and dear to my heart, and while
          i delved into the incredible lore of this series, accord's library
          helped me piece together the story - not only for myself, but to
          describe to my friends.<br /><br />

          thank you for everything that you've put your blood, sweat, and tears
          into for all these years, and for loving the series just as much as
          all of us did too &lt;3
        </p>
        <p class="cite">—meleori</p>
      </div>
      <div>
        <p>
          Last few hours of Accord's Library. It's unfortunate that an archival
          site dies and we lose so much information about the past. Information
          that most of us wouldn't have access otherwise.<br /><br />

          I only learned about it when the closure was announced, and after
          seeing so many other initiatives I liked getting closed down, it makes
          me hate these disgusting companies even more.<br /><br />

          Goodbye, AL. You'll be missed...<br />
          Thanks to everyone who worked hard for it, despite one company bringing
          down so much information...
        </p>
        <p class="cite">—Yukito Nakamura</p>
      </div>
      <div>
        <p>
          A little backstory...My Wife is Japanese and she would read me all the
          stories that only existed in Japanese.<br />
          She was so excited I discovered Accord's Library as she no longer wanted
          to finish the twisted Shi ni Itaru Aka series.<br />
          As much as it pains me to lose access to a central repository of everything
          DrakeNier, it probably pains her more to know her skills will be have to
          be used once again.<br />
          Thank you everyone for your hard work, my Wife and I greatly appreciated
          all the efforts spent into translating DrakeNier content.<br />
          Thank you, Yoko Taro, for all the emotional damage (and joy) you have brought
          me and indirectly forced onto my Wife 🙂
        </p>
        <p class="cite">—1lyfe</p>
      </div>
      <div>
        <p>
          I got into NieR with Automata sometime around October of 2022. A few
          weeks later, I had finished Replicant ver.1.22... It changed my life.<br
          />
          I've begun the steps to creating my own video games, wishing to inspire
          people as I was inspired with NieR. I spent hundreds of hours looking into
          everything I could find about the series, stumbling into "Drakengard" and
          "Re[in]carnation" along the way.<br />
          Without the website, I don't think I would've been here. In lieu of grieving,
          I've found myself being grateful that AL had ever existed at all. It was
          a truly wonderful project by some truly wonderful people.<br />
          Thank you for your hard work, and you will always be appreciated. You've
          inspired countless people to become archivers and continue the legacy!
        </p>
        <p class="cite">—Karis</p>
      </div>
    </div>
  </div>
</Html>

<style>
  .card {
    display: flex;
    place-content: center;
    place-items: center;
    padding-top: clamp(0.5em, 5vw, 5em);
  }

  #notice {
    flex-direction: column;

    background-color: #312820;
    padding-block: clamp(2em, 4vw, 4em);
    padding-inline: clamp(1em, 5vw, 5em);
    border-radius: clamp(0.5em, 2vw, 2em);
  }

  #full {
    flex-direction: column;
    background-color: #312820;
    padding-block: clamp(1em, 4vw, 4em);
    padding-inline: clamp(1em, 5vw, 5em);
    border-radius: clamp(0.5em, 2vw, 2em);
  }

  h3 {
    font-family: monospace;
  }

  #message {
    margin-top: 3em;
    font-family: monospace;
    font-weight: normal;
    max-width: 35em;
    line-height: 1.5;
  }

  @media screen and (min-width: 50em) {
    .grid {
      column-count: 2;
    }
  }

  @media screen and (min-width: 75em) {
    .grid {
      column-count: 3;
    }
  }

  @media screen and (min-width: 100em) {
    .grid {
      column-count: 4;
    }
  }

  @media screen and (min-width: 160em) {
    .grid {
      column-count: 5;
    }
  }

  .grid {
    margin-top: 4em;
    column-gap: 40px;
    column-rule-width: 3px;
    column-rule-style: dotted;
    column-rule-color: var(--color-base-350);
  }

  .grid > div + div {
    margin-top: 3em;
    break-inside: avoid;
  }

  .grid > div > img {
    width: 100%;
    height: auto;
  }

  .grid > div > * + * {
    margin-top: 1em;
  }

  .grid > div > .cite {
    text-align: end;
    color: var(--color-base-800);
    font-style: oblique;
  }

  hr {
    border: none;
    border-top: 3px dotted var(--color-base-350);
    margin-block: clamp(64px, 10vw, 128px);
  }
</style>
